@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-color: rgb(208, 235, 238);
}

h1, p{
    text-align: center;
    color: #295dbe;
}

.container{
    padding: 40px 0px;
}

#movie-form, .container{
    background-color: rgb(255, 254, 254);
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
}
  
label{
    display: block;
    margin: 20px 0px 5px;
}

textarea, .input, #submit, #btn-save{
  width: 100%;
}

.error{
    color: #f00;
}

button{
    background:  #295dbe;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
}

#btn-save{
    margin-top: 20px;
}

/* Have to be created dynamically**
.edit{
    float: right;
}
.edit > button{
    margin: 5px;
}/**End of have to be created dynamically***/

button:hover{
    background-color:#144194;
    cursor: pointer;
}

.moviesTable{
    width: 90%;
    margin: 20px auto;
}

table{
    border-collapse: collapse;
}

th{
    color:  #295dbe;
    text-align: left;
    padding: 2px 4px;
}

tr:nth-child(even){
    background-color: #6b8fd1;
    border: none;
}

td{
    padding: 2px 8px;
}

/*is dynamically created in js**/
.cancel{
    margin-right: 10px;
}

@media(min-width: 768px){
    #movie-form, .moviesTable, .container{
        width: 60%;
        background-color: rgb(255, 254, 254);
    }
}
